<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card border-0 shadow-lg">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Edit <%= resource_name.to_s.humanize %></h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form" }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.label :email, class: "font-weight-bold" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :password, class: "font-weight-bold" %> <small>(leave blank if you don't want to change it)</small>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Enter your new password" %>
              <% if @minimum_password_length %>
                <small><%= @minimum_password_length %> characters minimum</small>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, class: "font-weight-bold" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm your new password" %>
            </div>

            <div class="form-group">
              <%= f.label :current_password, class: "font-weight-bold" %> <small>(we need your current password to confirm your changes)</small>
              <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Enter your current password" %>
            </div>

            <div class="text-center">
              <%= f.submit "Update", class: "btn btn-primary btn-block mt-4" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center mt-4">
  <h3>Cancel my account</h3>
  <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></div>

  <%= link_to "Back", :back, class: "btn btn-secondary mt-2" %>
</div>
