<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= book.category %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= book.status %>
  </p>

  <p>
    <strong>Started reading:</strong>
    <%= book.started_reading %>
  </p>

  <p>
    <strong>Ended reading:</strong>
    <%= book.ended_reading %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= book.link %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>

  <p>
    <strong>Stars:</strong>
    <%= book.stars %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= book.review_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= book.user_id %>
  </p>

</div>
