<li>
  <%= nav_link_to "Dashboard", send("admin_dashboard_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Properties", send("admin_properties_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Inbox", send("admin_inbox_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Calendar", send("admin_calendar_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Insights", send("admin_insights_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Bookings", send("admin_bookings_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Help Center", send("admin_help_center_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Changelog", send("admin_changelog_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Api", send("admin_api_path"), class: "nav-link" %>
</li>
