<div id="<%= dom_id review %>">
  <p>
    <strong>Book:</strong>
    <%= review.book_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>

  <p>
    <strong>Created:</strong>
    <%= review.created %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= review.content %>
  </p>

  <p>
    <strong>Lessons:</strong>
    <%= review.lessons %>
  </p>

  <p>
    <strong>Thoughts:</strong>
    <%= review.thoughts %>
  </p>

</div>
