<!DOCTYPE html>
<html>
  <head>
    <title>Memo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    
    
    
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full bg-gray-50">

<%= render 'components/navbar', pathname: @pathname %>
  <div class="p-4 md:p-10 mx-auto max-w-7xl">
    <%= yield %>
    </div>


  </body>
</html>

